.bg-price {
    background: #215fa1 url(../img/Bg2.png);
    background-size: cover;
    padding: 25px 0;
    background-position-y: center;
  }
  .header-2 {
    filter: drop-shadow(4px 4px 7px rgba(2, 68, 121, 0.75));
    position: relative;
  }
  
  .d7-heading-2 {
    width: 0;
    height: 0;
    border-top: 17px solid #caddea;
    border-right: 17px solid transparent;
  }
  .price-heading {
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price-heading > span {
    font-size: 22px;
    font-family: "RobotoR";
    display: flex;
    align-items: center;
  }
  .price-heading span strong {
    color: #dd0000;
    font-size: 50px;
    font-family: "RobotoB";
    align-self: baseline;
    margin-right: 15px;
  }
  .price-heading span .price-off {
    font-size: 35px;
    align-self: flex-end;
  }
  .d28 {
    display: inline-block;
    height: 8px;
    width: 61px;
    margin: 6px;
    position: relative;
    transform: rotate(-90deg);
  }
  .d28:before,
  .d28:after {
    content: "";
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    background: #215fa1;
  }
  .d28:before {
    left: 0;
    transform: skew(0deg, 25deg);
  }
  .d28:after {
    right: 0;
    transform: skew(0deg, -25deg);
  }
  .block-price {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
  }
  
  .block-price > div,
  .block-price {
    & > p,
    & > select,
    & > .order {
      width: 310px;
    }
  }
  .block-price > div,
  .block-price {
    & > select,
    & > .order {
      height: 35px;
    }
  }
  .block-price p {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "RobotoR";
    margin: 15px 0;
  }
  .block-price div.order p {
    margin: 0;
    font-size: 26px;
    font-family: "RobotoR";
    text-transform: uppercase;
  }
  .block-price :nth-of-type(4) {
    margin-top: 15px;
  }
  .block-price > p {
    margin-top: 50px;
  }
  .order {
    // align-self: center;
    margin-top: 60px;
  }
  .form-control {
    color: #4497d9;
  }
  
  .block-price > p {
    align-self: flex-end;
  
    // text-align: justify;
    text-align-last: justify;
  }
  .block-price > p span {
    font-size: 47.7px;
    font-family: "RobotoR";
  }
  .block-price > p i {
    font-size: 26.83px;
    font-style: normal;
  }
  